/* base */
footer {
    clear: both;
    position: relative;
    height: auto;
    margin-top:auto; 
}
body { 
  height:100vh; 
  margin:0; 
  display:flex; 
  flex-direction:column;
  font-family: 'SFMono-Medium', 'SF Mono', 'Segoe UI Mono', 'Roboto Mono', 'Ubuntu Mono', Menlo, Consolas, Courier, monospace;

}
p {
  font-size: 16px;
  font-weight: 100;
  letter-spacing: -0.003em;
}
h1 {
  font-weight: 500;
  letter-spacing: -0.01em;
  text-align: center;
}
/* id */
#about-me-text{
  text-align: justify;
}
#contform {
  padding-left: 50px;
  padding-right: 100px;
  padding-top: 10px !important;
}
#footer-text {
  text-align: center;
}
#info {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin-top: 100px;
}
#info-data {
  font-size: 16px;
  font-weight: 300;
  text-align: left;
}
#cont{
  padding-top: 100px;
}
#cat_title{
  text-align: center;
}
#smm-header {
  text-align: center;
  margin-top: 12.76px;
}
#link-img {
  max-width: 55px;
  max-height: 55px;
}
#no-project-error {
  text-align: center;
  color: red;
}
/* class */
.logo {
  padding: 0px;
  margin-top: 0px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: -20px;
  width: 50px; 
  height: 50px;
}
.logo_link {
  padding: 0px;
  margin: 0px;
}
.dropdown-content{
  width: max-content !important;
  height:auto !important;
}
.nav-extended {
  background-color: rgb(37, 72, 107);
}
.page-footer {
  background-color: rgb(37, 72, 107) !important;
}
.btn {
  background-color: rgb(6, 59, 105) !important;
  margin-top: 20px !important;
  margin-bottom: 20px !important;
  
}
.btn:hover {
  background-color: rgb(27, 104, 206) !important;
}
.card-content {
  padding-left: 10px !important;
}
.card {
  text-align: justify;
}
.header {
  font-size: 4.7vh;
}
.not-visible{
  display: none;
}
.show-visible {
  display: block;
}

/*media devices*/
@media only screen and (max-width:600px) {
  #info-data{
    overflow:hidden; 
    white-space:nowrap; 
    text-overflow:ellipsis; 
    width:100px; 
  }
  /* 
    Also(data) atpakolgatni -> Contact-ba
    stukturat atgondolni -> legyen egyszeruen reszponziv mobilon is
  */
  
  .header {
    padding-top: 50px;
  }
}
@media only screen and (max-width:350px) {
  #smm-header {
    padding-top: 40px;
  }
  #contform {
    padding-top: 10px !important;
  }
  
}