{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1 class="flow-text">Hi, I am David Kohalmi</h1>
    <div class="row">
        <div class="col s7">
            <p id="about-me-text">
                Welcome in my site! I am David Kohalmi, aka Kpoke in games and in the virtual world.
                I am a programmer, who likes creating and playing games, make and play music and coding.
            </p>
            <div class="row">
                <div class="col s3">
                    <ul id="info">
                        <li>Date of birth:</li>
                        <li>Email:</li>
                        <li>Phone:</li>
                        <li>Nationality:</li>
                        <li>Address:</li>
                        <li>Github:</li>
                        <li>Linkedin:</li>
                    </ul>
                </div>
                <div class="col s6">
                    <ul id="info-data">
                        <li>16 Marc 1996</li>
                        <li>balazs.david.kohalmi@gmail.com</li>
                        <li>+36-20-2905176</li>
                        <li>Hungarian</li>
                        <li>Budapest</li>
                        <li><a href="https://github.com/killerkpoke">link</a></li>
                        <li><a href="https://www.linkedin.com/in/balazs-david-kohalmi-98031416a/">link</a></li>
                    </ul>
                </div>
            </div>
            <button class=" btn waves-effect waves-light btn-large" type="submit" onclick="">
                <i class="material-icons right">receipt</i>
                    Download CV
            </button>
             
        </div>
        <!--second segment-->
         <div class="col s5">
           
            <p id="about-me-text">
                Welcome in my site! I am David Kohalmi, aka Kpoke in games and in the virtual world.
                I am a programmer, who likes creating and playing games, make and play music and coding.
                Welcome in my site! I am David Kohalmi, aka Kpoke in games and in the virtual world.
                I am a programmer, who likes creating and playing games, make and play music and coding.
               Welcome in my site! I am David Kohalmi, aka Kpoke in games and in the virtual world.
                I am a programmer, who likes creating and playing games, make and play music and coding.
               Welcome in my site! I am David Kohalmi, aka Kpoke in games and in the virtual world.
               
            </p>
        </div>

    </div>
</div>

{% endblock content%}