{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1 id ="greetingId" class="flow-text">Hi, I am David Kohalmi</h1>
    <div class="row"> 
        <div class="col s6">   
            <img id="picsofme" class="responsive-img" src="{{ ad.img.url }}"></img>
        </div>
        <div class="col s6">   
            <p id="about-me-text">
                {{ ad.greeting }}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col s12"> 
            <p id="about-me-text">
                {{ ad.detail }}
            </p>
        </div>
        <div class="col s12 center">
            <button class="btn waves-effect waves-light btn-large" type="submit">
                <i class="material-icons right">receipt</i>
               <a id="cv-link"  href="{{ doc_cv.url }}" download>Download CV</a>
            </button>
        </div>
    </div>
</div>

{% endblock content%}