
{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col s12">
      <ul id="info">
        <li><i class="small material-icons">email</i></li>
        <li><span class="flow-text">balazs.david.kohalmi@gmail.com</span></li>
        <li><i class="small material-icons">call</i></li>
        <li><span class="flow-text">+36-20-2905176</span></li>
        <li>
          <a target="_blank" href="https://github.com/killerkpoke">
            <img id="link-github" src="{% static 'images/GitHub-Mark.png'%}" alt="github"></img>
          </a>
          <a target="_blank" href="https://www.linkedin.com/in/balazs-david-kohalmi-98031416a/">
            <img id="link-linkedin" src="{% static 'images/Li-In-Bug.png'%}" alt="linkedin"></img>
          </a>
        </li>
      </ul>   
    </div>
  </div>
</div>

<div class="container">
<div class="divider"></div>
<h4 id="smm-header">Send me a message!</h4>

<form id="contform" class="col" method="POST" style="padding-top: 70px;">
    {% csrf_token %}
    <div class="row">
    <div class="input-field">
        <i class="material-icons prefix">account_circle</i>
        <input id="SenderName" name="sender" type="text" class="validate">
        <label for="SenderName">Your name</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field">
        <i class="material-icons prefix">email</i>
        <input id="email" name="mail" type="email" class="validate">
        <label for="email">Your email</label>
        <span class="helper-text" data-error="invalid email" data-success="right"></span>
    </div>
  </div>
  <div class="row">
    <div class="input-field">
        <i class="material-icons prefix">subject</i>
        <input id="subject" name="topic" type="text" class="validate">
        <label for="subject">Subject</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field">
        <i class="material-icons prefix">mode_edit</i>
        <textarea id="message" name="mess" class="materialize-textarea" maxlength="300"></textarea>
        <label for="message">Message</label>
    </div>
  </div>
  <button class="btn waves-effect waves-light" type="submit">Send
    <i class="material-icons right">send</i>
  </button>
</form>
</div>
  
{% endblock content%}
