{% extends "base.html" %}

{% block content %}
<div id="canvasText">
    <h1 class="z-depth-4">Welcome.</h1>
</div>
<div id="#myCanvas"></div>

<script type="module">

    import * as THREE from 'https://cdn.skypack.dev/three';
    import { OrbitControls } from 'https://cdn.skypack.dev/pin/three@v0.133.1-dCIBIz3pnzocx0lNrLHe/mode=imports/unoptimized/examples/jsm/controls/OrbitControls.js';
    import { Lensflare, LensflareElement } from 'https://cdn.skypack.dev/pin/three@v0.133.1-dCIBIz3pnzocx0lNrLHe/mode=imports/unoptimized/examples/jsm/objects/Lensflare.js';

    let container;
    let camera, scene, renderer;
    let controls;
    let width = window.innerWidth;
    let height = window.innerHeight / 1.1;

    const clock = new THREE.Clock();
    
    init();
    animate();

    function init() {

        container = document.getElementById("#myCanvas");
        
        // camera
        camera = new THREE.PerspectiveCamera( 40, width / height, 1, 15000 );
        camera.position.z = 100;

        // scene
        scene = new THREE.Scene();
        scene.background = new THREE.Color().setHSL( 0.51, 0.4, 0.01 );
        scene.fog = new THREE.Fog( scene.background, 3500, 15000 );

        // world
        //#region 
        const s = 200;

        const geometry = new THREE.BoxGeometry(s, s, s);
        const material = new THREE.MeshPhongMaterial({ color: 0xffffff, specular: 0xffffff, shininess: 50 });

        for ( let i = 0; i < 2000; i ++ ) {

            const mesh = new THREE.Mesh(geometry, material);

            mesh.position.x = 8000 * (2.0 * Math.random() - 1.0);
            mesh.position.y = 8000 * (2.0 * Math.random() - 1.0);
            mesh.position.z = 8000 * (2.0 * Math.random() - 1.0);

            mesh.rotation.x = Math.random() * Math.PI;
            mesh.rotation.y = Math.random() * Math.PI;
            mesh.rotation.z = Math.random() * Math.PI;

            mesh.matrixAutoUpdate = false;
            mesh.updateMatrix();

            scene.add(mesh);

        }
        
        const gem = new THREE.SphereGeometry(1,1,1);
        const sphere = new THREE.Mesh(gem, material);
        sphere.position.x = 5000;
        sphere.position.y = 0;
        sphere.position.z = -1000;
        sphere.matrixAutoUpdate = false;
        sphere.updateMatrix();
        scene.add(sphere);

        camera.lookAt(sphere.position);
        //#endregion

        // lights
        const dirLight = new THREE.DirectionalLight( 0x16E3F3, 0.5 );
        dirLight.position.set( 0, -1, 0 ).normalize();
        scene.add( dirLight );
        //#endregion

        // renderer
        //#region 
        renderer = new THREE.WebGLRenderer( {container, alpha:true, antialias: true } );
        renderer.setPixelRatio( window.devicePixelRatio );
        renderer.setSize(width, height);
        renderer.outputEncoding = THREE.sRGBEncoding;
        container.appendChild( renderer.domElement );
        //#endregion

        // Controls
        //#region 
        controls = new OrbitControls(camera, renderer.domElement);
        controls.enabled = false;
        controls.autoRotate = true;
        controls.autoRotateSpeed = -1;
        controls.domElement = container;
        controls.target = sphere.position; 
        //#endregion

        // events
        window.addEventListener( 'resize', onWindowResize );

    }

    function onWindowResize() {

        renderer.setSize(width, height);
        camera.aspect = width / height;
        camera.updateProjectionMatrix();

    }

    function animate() {

        requestAnimationFrame( animate );
        render();
    }

    function render() {

        const delta = clock.getDelta();
        controls.update();
        renderer.render(scene, camera);

    }
</script>

<!-- Earth
<script type="module">
    import * as THREE from 'https://cdn.skypack.dev/three';
    import { OrbitControls } from 'https://cdn.skypack.dev/pin/three@v0.133.1-dCIBIz3pnzocx0lNrLHe/mode=imports/unoptimized/examples/jsm/controls/OrbitControls.js';
    function main() {
        const canvas = document.querySelector( '#myCanvas' );
        const renderer = new THREE.WebGLRenderer({canvas, alpha:true});
        let d = 500;
       
        renderer.setPixelRatio( window.devicePixelRatio );
        renderer.setSize(d, d);
       
        //camera setup
        const fov = 75;
        const aspect = d/d;  // the canvas default
        const near = 0.1;
        const far = 5;
        const camera = new THREE.PerspectiveCamera(fov, aspect, near, far);
        camera.position.z = 2.5;
        
        //scene setup
        const scene = new THREE.Scene();

        //ligth setup
        const spotLight = new THREE.SpotLight( 0xffffff );
        spotLight.position.set( 10, 10, 10 );
        scene.add( spotLight );

        //geometry orb created
        const geometry = new THREE.SphereGeometry(1, 32, 32);

        //texture orb added
        const texture = new THREE.TextureLoader().load('../static/images/earthmap1k.jpg');
        const bumMap = new THREE.TextureLoader().load('../static/images/earthbump1k.jpg');
        const specMap = new THREE.TextureLoader().load('../static/images/earthspec1k.jpg');
        const spec = new THREE.Color('grey');

        //material orb added
        const material = new THREE.MeshPhongMaterial({
            map: texture, 
            bumpMap: bumMap,
            bumpScale: 0.05,
            specularMap: specMap,
            specular: spec,
        });

        //geometry orb added
        const cube = new THREE.Mesh( geometry, material );
        scene.add( cube );

        //control added
        const controls = new OrbitControls(camera, renderer.domElement);
        controls.enablePan = false;
        controls.minDistance = 2;
        controls.maxDistance = 3;
        controls.rotateSpeed = 0.5;
        controls.zoomSpeed = 0.3;
        controls.update();

        function render (time) {
            time *= 0.001;

            cube.rotation.y += 0.005;

            controls.update();
            renderer.render( scene, camera );
            requestAnimationFrame( render );
        }
        requestAnimationFrame(render);
        
    }
    main();

</script>
-->

{% endblock content%}