{% extends "base.html" %}

{% block content %}

<div id="cont" class="row">
  {% for topic in category %}
  <div class="col s4 m2">
      <div class="card hoverable">
        <a href="#">
          
          {% if topic.cat_image %}
            <img class="responsive-img materialboxed" src="{{ topic.cat_image.url }}" alt="pics">
          {% endif %}

          <div class="card-content flow-text">        
              {{ topic.title }}
          </div>

        </a>
      </div>
    </div>
    {% endfor %}
  </div>

{% endblock content%}