{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <h1 class="header">{{ project.title }}</h1>
            <div class="col s12 center">
                <p class="flow-text">{{ project.description }}</p>
            
            <div class="col s12">
                <div class="splide">
                    <div class="splide__track">
                        <ul class="splide__list ">
                            {% for image in project.proj_album.thumbnails %}
                                <li class="splide__slide center">
                                    <img src="{{ image.img.url }}">
                                </li>
                            {% endfor %}               
                        </ul>
                    </div>
                    <div class="splide__progress">
                        <div class="splide__progress__bar">
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
        <div class="divider"></div>
        <br>
        {% if project.proj_link %}
        <div class="row">
            <div class="col s12">
                <div class="video-container">
                    <iframe frameborder="0" src="https://itch.io/embed/574032"><a href="https://kpoke.itch.io/blackhole-of-secrets">BlackHole Of Secrets by Kpoke</a></iframe>
                </div>
            </div>
            {% if project.proj_playable_link %}
            <div class="col s12">
                <div class="video-container">
                    <iframe frameborder="0" src="https://itch.io/embed-upload/1981226?color=0484d1" allowfullscreen=""><a href="https://kpoke.itch.io/blackhole-of-secrets">Play BlackHole Of Secrets on itch.io</a></iframe>
                </div>
            </div>
            {% endif %}
        </div>
        {% endif %}
        
    </div>
    
{% endblock %}