{% extends "base.html" %}

{% block content %}
    <div class="row">
    <h1 class="header">{{post}}</h1>
        {% if check %}
            {% for proj in project %}
                {% if proj.category == post %}
                    <div class="col s12 m6 l4 xl3">
                        <div class="card hoverable">
                            <div class="card-image waves-effect waves-block waves-light">
                                {% if proj.proj_image %}
                                    <a href="{{ proj.slug }}">
                                        <img class="responsive-img materialboxed" src="{{ proj.proj_image.url }}" alt="picss">
                                    </a>
                                {% endif %}
                            </div>
                            
                            <div class="card-reveal">
                                <span class="card-title grey-text text-darken-4">{{ proj.title }}</span>
                                <p>{{ proj.description }}</p>
                            </div>
                            <div class="card-content flow-text"> 
                                <span class="card-title activator grey-text text-darken-4">{{ proj.title }}<i class="material-icons right">more_vert</i></span>
                                <a href="{{ proj.slug }}">Details</a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% else %}
        <div class="container">
            <h4 id="no-project-error" class="flow-text" >Currently no project available</h4>
        </div>
        {% endif %}
    </div>
{% endblock %}