{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <h1 class="header">{{ project.title }}</h1>
            <div class="col s12">
                <p class="flow-text">{{ project.description }}</p>
            </div>
            <div class="col s6 center">
                <div class="splide">
                    <div class="splide__track">
                        <div class="splide__list ">
                            <div class="splide__slide">
                                <img class="responsive-img" src="{{project.proj_image.url}}">
                            </div>
                            <div class="splide__slide">
                                <img class="responsive-img" src="{{project.proj_image.url}}">
                            </div>
                            <div class="splide__slide">
                                <img class="responsive-img" src="{{project.proj_image.url}}">
                            </div>
                        </div>
                    </div>
                    <div class="splide__progress">
                        <div class="splide__progress__bar">
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
        <div class="divider"></div>
        <br>
        <div class="row">
            <div class="col s12">
                <div class="video-container">
                    <iframe frameborder="0" src="https://itch.io/embed/574032"><a href="https://kpoke.itch.io/blackhole-of-secrets">BlackHole Of Secrets by Kpoke</a></iframe>
                </div>
            </div>
            {% if project.proj_playable_link %}
            <div class="col s12">
                <div class="video-container">
                    <iframe frameborder="0" src="https://itch.io/embed-upload/1981226?color=0484d1" allowfullscreen=""><a href="https://kpoke.itch.io/blackhole-of-secrets">Play BlackHole Of Secrets on itch.io</a></iframe>
                </div>
            </div>
            {% endif %}
        </div>
        
    </div>
    
{% endblock %}