{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script src="{% static 'js/myjs.js'%}"></script>
        <title>Kpoke's Keeper</title>
    </head>
    <body>
        <div class="navbar-fixed">
            <nav class="nav-extended">
                <div class="nav-wrapper">
                    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                    <ul class="left hide-on-med-and-down">
                        <li>
                            <a href="{% url 'polls:home' %}" class="logo_link"><img src="{% static 'images/logo_transparent.png'%}" class="logo"></img></a>
                        </li>
                        <li><a href="{% url 'polls:about' %}" class="flow-text">About me</a></li>
                        <li><a class="dropdown-trigger flow-text" href="{% url 'polls:works' %}" data-target="myworks_dropdown">My stacks<i class="material-icons right">arrow_drop_down</i></a></li>   
                        <li><a href="{% url 'polls:contact' %}" class="flow-text">Contact</a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <ul id="myworks_dropdown" class="dropdown-content">
            {% for item in category %}
                <li><a id="cat_title"href="{% url 'polls:works' %}{{ item.slug }}">{{ item.title }}</a></li>
            {% endfor %}
        </ul>
        <ul class="sidenav" id="mobile-demo">
            <li>
                <a href="{% url 'polls:home' %}" id="logo" class="flow-text">Kpoke's Keeper</a>
            </li>
            <li><a href="{% url 'polls:home' %}"><i class="material-icons">home</i>Home</a></li>
            <li><a href="{% url 'polls:about' %}"><i class="material-icons">people</i>About me</a></li>
            <li><a href="{% url 'polls:works' %}"><i class="material-icons">computer</i>My stacks</a></li>
            <li><a href="{% url 'polls:contact' %}"><i class="material-icons">message</i>Contact</a></li>
        </ul>

    {% block content %}

    {% endblock content %}
    <footer class="page-footer">
        <div class="footer-copyright">
          <div class="container">
            <div id="footer-text" class="flow-text">© {% now "Y" %} Made by David Kohalmi</div>
          </div>
        </div>
      </footer>
    </body>
</html>